<section class="about-game section" id="about">
  <div class="about-game_container container">
    <h3 class="title-h3 yellow">About the Game</h3>
    <h2 class="title-h2">Classic Gameplay Reimagined for the Digital World</h2>
  </div>
  <div class="about-game_inner">
    <div class="about-game_container container">
      <p class="about-game_inner_text">
        4 In A Row Classic Board Game brings the nostalgic thrill of the
        traditional connect four game into the palm of your hand. With sleek
        design, responsive controls, and flexible play modes, it offers a
        perfect balance between strategy and entertainment. Challenge yourself
        with smart AI, or enjoy laid-back fun with a friend on the same device.
        For those looking to test their skills further, dive into online
        multiplayer and take on real players around the globe.
      </p>
      <img src="./img/about/about_right.png" alt="about right" />
    </div>
  </div>
  <div class="about-game_container container">
    <p class="about-game_text">
      Perfect for all ages, this game stimulates strategic thinking while
      providing endless moments of fun — whether you’re a seasoned strategist or
      a newcomer learning the ropes.
    </p>
  </div>
</section>
