<section class="features section" id="features">
  <div class="features_container container">
    <h3 class="title-h3 orange">Key Features</h3>
    <h2 class="title-h2">Everything You Love About Connect Four — And More</h2>
    <div class="features_inner">
      <article class="features_inner_article">
        <h4 class="features_inner_article_title">Brain Training: </h4>
        <img
          class="features_inner_article_image"
          src="./img/features/1.png"
          alt="features1"
        />
        <p class="features_inner_article_text">
          Improve your logical thinking and strategic planning with every match.
        </p>
      </article>
      <article class="features_inner_article">
        <h4 class="features_inner_article_title">
          Simple Yet Addictive Gameplay: 
        </h4>
        <img
          class="features_inner_article_image"
          src="./img/features/2.png"
          alt="features1"
        />
        <p class="features_inner_article_text">
          Easy to learn, but hard to master. It’s a game that keeps drawing you
          back.
        </p>
      </article>
      <article class="features_inner_article">
        <h4 class="features_inner_article_title">Customization Options: </h4>
        <img
          class="features_inner_article_image"
          src="./img/features/3.png"
          alt="features1"
        />
        <p class="features_inner_article_text">
          Choose from different board colors, backgrounds, and themes to make
          the game your own.
        </p>
      </article>
      <article class="features_inner_article">
        <h4 class="features_inner_article_title">Fully Responsive UI: </h4>
        <img
          class="features_inner_article_image"
          src="./img/features/4.png"
          alt="features1"
        />
        <p class="features_inner_article_text">
          Works flawlessly across all Android devices, from small phones to
          large tablets.
        </p>
      </article>
      <article class="features_inner_article">
        <h4 class="features_inner_article_title"> Audio Experience: </h4>
        <img
          class="features_inner_article_image"
          src="./img/features/5.png"
          alt="features1"
        />
        <p class="features_inner_article_text">
          Enjoy subtle sound effects that enhance gameplay — or mute them
          anytime.
        </p>
      </article>
      <article class="features_inner_article">
        <h4 class="features_inner_article_title">Offline Support: </h4>
        <img
          class="features_inner_article_image"
          src="./img/features/6.png"
          alt="features1"
        />
        <p class="features_inner_article_text">
          Enjoy full functionality in Human vs Human mode without any internet
          access.
        </p>
      </article>
      <article class="features_inner_article">
        <h4 class="features_inner_article_title">Multiplayer Ready: </h4>
        <img
          class="features_inner_article_image"
          src="./img/features/7.png"
          alt="features1"
        />
        <p class="features_inner_article_text">
          Join live matches against global players and track your win streaks.
        </p>
      </article>
    </div>
  </div>
</section>
