<section class="gallery section" id="gallery">
  <div class="gallery_container container">
    <h3 class="title-h3 orange">Gallery</h3>
    <h2 class="title-h2">Get a Closer Look</h2>
    <div class="swiper swiper-gallery">
      <div class="swiper-wrapper swiper-wrapper-gallery">
        <div class="swiper-slide swiper-slide-gallery">
          <img src="./img/gallery/1.png" alt="gallery-1" class="gallery-img" />
        </div>
        <div class="swiper-slide swiper-slide-gallery">
          <img src="./img/gallery/2.png" alt="gallery-2" class="gallery-img" />
        </div>

        <div class="swiper-slide swiper-slide-gallery">
          <img src="./img/gallery/3.png" alt="gallery-3" class="gallery-img" />
        </div>

        <div class="swiper-slide swiper-slide-gallery">
          <img src="./img/gallery/4.png" alt="gallery-4" class="gallery-img" />
        </div>
      </div>
      <img
        class="gallery_left-sidebar"
        src="./img/gallery/slider_sidebar.png"
        alt="sidebar start"
      />
      <img
        class="gallery_right-sidebar"
        src="./img/gallery/slider_sidebar.png"
        alt="sidebar end"
      />
      <div class="swiper-button-prev swiper-button-prev_gallery">
        <img
          src="./img/pages/btn_left.png"
          alt="arrow-left"
          class="swiper-button-prev-img"
        />
      </div>
      <div class="swiper-button-next swiper-button-next_gallery">
        <img
          src="./img/pages/btn_right.png"
          alt="arrow-right"
          class="swiper-button-next-img"
        />
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination_gallery"></div>
  </div>
</section>
