<header class="header" id="header">
  <div class="header_logo_inner_mobile">
    <div class="header_logo_inner">
      <div class="header_container container">
        <button type="button" class="header-nav-mobile-button">
          <img src="./img/Header/burger.png" alt="menu" />
        </button>
        <button type="button" class="header-nav-mobile-button-close">
          <img src="./img/Header/close_menu.png" alt="menu" />
        </button>
      </div>
    </div>
    <div class="header_container container">
      <nav class="header-nav-mobile">
        <ul class="header-nav-mobile-list">
          <li class="header-nav-mobile-item" id="1">
            <a href="./index.html">Home</a>
          </li>
          <li class="header-nav-mobile-item" id="2">
            <a href="#about">About the Game</a>
          </li>
          <li class="header-nav-mobile-item" id="3">
            <a href="#features">Key Features</a>
          </li>
          <li class="header-nav-mobile-item" id="4">
            <a href="#how-play">How to Play</a>
          </li>
          <li class="header-nav-mobile-item" id="5">
            <a href="#gallery">Gallery</a>
          </li>
          <li class="header-nav-mobile-item" id="6">
            <a href="#reviews">Testimonials</a>
          </li>
          <li class="header-nav-mobile-item" id="7">
            <a href="#faq">FAQ</a>
          </li>
          <li class="header-nav-mobile-item" id="8">
            <a href="#play">Info</a>
          </li>
        </ul>
        <ul class="header-nav-mobile-list header-nav-mobile-list_pages">
          <li class="header-nav-mobile-list_pages_item">
            <a href="./privacy-policy.html">Privacy Policy</a>
          </li>
          <li class="header-nav-mobile-list_pages_item">
            <a href="./terms-and-conditions.html">Terms & Conditions</a>
          </li>
          <li class="header-nav-mobile-list_pages_item">
            <a href="./cookies-policy.html">Cookies Policy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header_container container">
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item" id="1">
          <a href="./index.html">Home</a>
        </li>
        <li class="header-nav-pc-item" id="2">
          <a href="#about">About the Game</a>
        </li>
        <li class="header-nav-pc-item" id="3">
          <a href="#features">Key Features</a>
        </li>
        <li class="header-nav-pc-item" id="4">
          <a href="#how-play">How to Play</a>
        </li>
        <li class="header-nav-pc-item" id="5">
          <a href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-pc-item" id="6">
          <a href="#reviews">Testimonials</a>
        </li>
        <li class="header-nav-pc-item" id="7">
          <a href="#faq">FAQ</a>
        </li>
        <li class="header-nav-pc-item" id="8">
          <a href="#play">Info</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
