<section class="hero section" id="hero">
  <div class="container hero_container">
    <div class="hero_content">
      <div class="hero_content_inner">
        <img src="./img/Hero/hero-image.png" alt="four in a row" />
        <div class="hero_content_inner_box">
          <h1 class="hero_title" data-title="4 In A Row Classic Board Game">
            4 In A Row Classic Board Game
          </h1>
          <p class="hero_text">
            Experience the timeless strategy of connecting four pieces in a line
            — now in a sleek, modern mobile version. Whether you're in the mood
            for a quick brain workout or a fierce competition with a friend,
            this game is your perfect digital companion. Easy to pick up, tough
            to master, and endlessly fun.
          </p>
        </div>
      </div>
      <p
        class="hero_bottom-text"
        data-text='"Connect to Win – Classic Fun, Anytime, Anywhere!"'
      >
        <span>"Connect to Win – Classic Fun, Anytime, Anywhere!"</span>
      </p>
      <a href="#" class="hero_btn">
        <img src="./img/Hero/logo_googlePlay.png" alt="logo google play" />
        <img
          class="btn-black-text"
          src="./img/Hero/text_googlePlay.png"
          alt="logo google play"
        />
        <img
          class="btn-white-text"
          src="./img/Hero/text_googlePlay_white.png"
          alt="logo google play"
        />
      </a>
    </div>
  </div>
</section>
