<section class="how-play section" id="how-play">
  <div class="how-play_container container">
    <h3 class="title-h3 yellow">How to Play</h3>
    <h2 class="title-h2">Three Exciting Modes to Match Every Mood</h2>
    <div class="how-play_inner">
      <article class="how-play_inner_article">
        <h4 class="play_inner_article_title">Human vs Human (Offline)</h4>
        <img src="./img/how-play/1.png" alt="Human vs Human (Offline)" />
        <p class="play_inner_article_text">
          Share the screen with a friend and enjoy classic couch-style
          competition. No need for internet, just two players and one device.
        </p>
      </article>
      <article class="how-play_inner_article">
        <h4 class="play_inner_article_title">Human vs AI</h4>
        <img src="./img/how-play/2.png" alt="Human vs AI" />
        <p class="play_inner_article_text">
          Play against a smart, evolving computer opponent. Perfect for
          practicing strategies or enjoying solo sessions. The AI gets smarter
          as you play, making each match more challenging than the last.
        </p>
      </article>
      <article class="how-play_inner_article">
        <h4 class="play_inner_article_title">Online Multiplayer</h4>
        <img src="./img/how-play/3.png" alt="Online Multiplayer" />
        <p class="play_inner_article_text">
          Connect with players from around the world in real-time. Earn points,
          climb the leaderboard, and prove you're the master of connect four!А
        </p>
      </article>
    </div>
    <ul class="how-play_list">
      <li class="how-play_list_item">
        <div class="how-play_list_item_number">1</div>
        <p class="how-play_list_item_text">Choose your mode</p>
      </li>
      <li class="how-play_list_item">
        <div class="how-play_list_item_number">2</div>
        <p class="how-play_list_item_text">Enter your player name(s)</p>
      </li>
      <li class="how-play_list_item">
        <div class="how-play_list_item_number">3</div>
        <p class="how-play_list_item_text">Pick your board theme</p>
      </li>
      <li class="how-play_list_item">
        <div class="how-play_list_item_number">4</div>
        <p class="how-play_list_item_text">
          Start connecting and aim for four-in-a-row!
        </p>
      </li>
    </ul>
  </div>
</section>
